<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>ログイン画面</h1>
    <form action="/login" method="post">
        <p>メールアドレスを入力してください</p>
        <input type="text" name="email">
        <p>パスワードを入力してください</p>
        <input type="text" name="password">
    </form>
</body>

</html>