<!DOCTYPE html>
<html>
  <head>
    <title>signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>新規登録画面</h1>
    <form action="/signup" method="post">
      <p>ユーザー名を入力してください</p>
      <input type="text" name="name">
      <p>メールアドレスを入力してください</p>
      <input type="text" name="email">
      <p>パスワードを入力してください</p>
      <input type="text" name="password">
    </form>
  </body>
</html>
